/* 
  GLOBAL
 */

* {
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* 
  COMPONENTS
 */

/* TEXT HEADING */

.text-heading-1 {
    font-size: 56px !important;
    font-weight: 600 !important;
    line-height: 72px !important;
}

.text-heading-2 {
    font-size: 48px !important;
    font-weight: 600 !important;
    line-height: auto !important;
}

.text-heading-3 {
    font-size: 36px !important;
    font-weight: 600 !important;
    line-height: auto !important;
}


.text-heading-4 {
    font-size: 26px !important;
    font-weight: 600 !important;
    line-height: 40px !important;
}

.text-heading-5 {
    font-size: 24px !important;
    font-weight: 600 !important;
    line-height: auto !important;
}


.text-heading-6 {
    font-size: 20px !important;
    font-weight: 600 !important;
    line-height: 32px !important;
}

.text-heading-7 {
    font-size: 20px !important;
    font-weight: 500 !important;
    line-height: 32px !important;
}

.text-button {
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 24px !important;
}

@media screen and (max-width: 768px) {
    .text-heading-1 {
        font-size: 28px !important;
        font-weight: 600 !important;
        line-height: 36px !important;
    }
    
    .text-heading-2 {
        font-size: 24px !important;
        font-weight: 600 !important;
        line-height: 32px !important;
    }
    
    .text-heading-3 {
        font-size: 22px !important;
        font-weight: 600 !important;
        line-height: 28px !important;
    }
    
    .text-heading-4 {
        font-size: 20px !important;
        font-weight: 600 !important;
        line-height: 26px !important;
    }
    
    .text-heading-5 {
        font-size: 18px !important;
        font-weight: 600 !important;
        line-height: 24px !important;
    }
    
    .text-heading-6 {
        font-size: 16px !important;
        font-weight: 600 !important;
        line-height: 22px !important;
    }

    .text-heading-7 {
        font-size: 16px !important;
        font-weight: 500 !important;
        line-height: 22px !important;
    }
}

/* TEXT BODY & PARAGRAPH */

.text-body-1 {
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: auto !important;
}

.text-body-2 {
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: auto !important;
}

.text-body-3 {
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 24px !important;
}

.text-body-4 {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 28px !important;
}

.text-paragraph-1 {
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 24px !important;
}

.text-paragraph-2 {
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
}

.text-paragraph-3 {
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
}

.text-paragraph-4 {
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
}

/* TEXT PRIMARY */

.text-primary-1 {
    color: #3F7156 !important;
}

.text-primary-2 {
    color: #4C9B70 !important;
}

.text-primary-3 {
    color: #5FC98F !important;
}

.text-primary-4 {
    color: #74DFA5 !important;
}

.text-primary-5 {
    color: #B8FFD9 !important;
}

.text-primary-6 {
    color: #EEFFF6 !important;
}

/* TEXT ORANGE */

.text-orange-1 {
    color: #F65A09 !important;
}

.text-orange-2 {
    color: #F28032 !important;
}

.text-orange-3 {
    color: #FA9D62 !important;
}

.text-orange-4 {
    color: #FFCBAA !important;
}

.text-orange-5 {
    color: #FFE6D6 !important;
}

.text-orange-6 {
    color: #FEF1EA !important;
}

/* TEXT SKY BLUE */

.text-blue-1 {
    color: #0F97C2 !important;
}

.text-blue-2 {
    color: #42BEE5 !important;
}

.text-blue-3 {
    color: #6BDBFF !important;
}

.text-blue-4 {
    color: #B5EDFF !important;
}

.text-blue-5 {
    color: #D7F6FF !important;
}

.text-blue-6 {
    color: #E9FAFF !important;
}

/* TEXT GREY */

.text-grey-1 {
    color: #474747 !important;
}

.text-grey-2 {
    color: #616161 !important;
}

.text-grey-3 {
    color: #C7C7C7 !important;
}

.text-grey-4 {
    color: #C7C7C7 !important;
}

.text-grey-4 {
    color: #C7C7C7 !important;
}

.text-grey-6 {
    color: #FAFAFA !important;
}

.text-grey-5 {
    color: #E0E0E0 !important;
}

/* TEXT BASIC */

.text-black {
    color: #0F120F !important;
}

.text-background {
    color: #EFF0F5 !important;
}

.text-white {
    color: #FFFFFF !important;
}

/* BACKGROUND PRIMARY */

.bg-primary-1 {
    background: #3F7156 !important;
}

.bg-primary-2 {
    background: #4C9B70 !important;
}

.bg-primary-3 {
    background: #5FC98F !important;
}

.bg-primary-4 {
    background: #74DFA5 !important;
}

.bg-primary-5 {
    background: #B8FFD9 !important;
}

.bg-primary-6 {
    background: #EEFFF6 !important;
}

/* BACKGROUND ORANGE */

.bg-orange-1 {
    background: #F65A09 !important;
}

.bg-orange-2 {
    background: #F28032 !important;
}

.bg-orange-3 {
    background: #FA9D62 !important;
}

.bg-orange-4 {
    background: #FFCBAA !important;
}

.bg-orange-5 {
    background: #FFE6D6 !important;
}

.bg-orange-6 {
    background: #FEF1EA !important;
}

/* BACKGROUND SKY BLUE */

.bg-blue-1 {
    background: #0F97C2 !important;
}

.bg-blue-2 {
    background: #42BEE5 !important;
}

.bg-blue-3 {
    background: #6BDBFF !important;
}

.bg-blue-4 {
    background: #B5EDFF !important;
}

.bg-blue-5 {
    background: #D7F6FF !important;
}

.bg-blue-6 {
    background: #E9FAFF !important;
}

/* BACKGROUND GREY */

.bg-grey-1 {
    background: #474747 !important;
}

.bg-grey-2 {
    background: #616161 !important;
}

.bg-grey-3 {
    background: #949494 !important;
}

.bg-grey-4 {
    background: #C7C7C7 !important;
}

.bg-grey-5 {
    background: #E0E0E0 !important;
}

.bg-grey-6 {
    background: #FAFAFA !important;
}

/* BACKGROUND BASIC */

.bg-black {
    background: #0F120F !important;
}

.bg-background {
    background: #EFF0F5 !important;
}

.bg-white {
    background: #FFFFFF !important;
}

/* BORDER */

.border-primary-2 {
    border-color: #4C9B70 !important;
}

.border-grey-1 {
    border-color: #474747 !important;
}

.border-grey-3 {
    border-color: #949494 !important;
}

.border-grey-4 {
    border-color: #C7C7C7 !important;
}

.border-grey-5 {
    border-color: #E0E0E0 !important;
}

.border-grey-6 {
    border-color: #FAFAFA !important;
}

/* INPUT */

.form-control, .form-select {
    padding: 0.75rem 1.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}

.form-control::placeholder, .form-select::placeholder {
    color: #C7C7C7 !important;
}

.form-control:focus, .form-select:focus {
    border: 1px solid #4C9B70 !important;
    box-shadow: none !important;
    outline: none !important;
}

.form-control.invalid, .form-select.invalid  {
    border: 1px solid #E61A1A !important;
}

.form-control:disabled, .form-select:disabled {
    background: #E0E0E0;
}

/* BUTTON */

.btn {
    min-width: 140px;
    padding: 12px 24px;
}

.btn-lg {
    min-width: 340px;
    padding: 18px 36px;
}

button:hover {
    opacity: 0.8;
}

button:disabled {
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .btn {
        min-width: 120px;
        padding: 12px 24px;
    }
    
    .btn-lg {
        min-width: 180px;
        padding: 18px 36px;
    }
}

/* ALERT */

.alert-warning {
    padding: 12px 16px;
    background: #FFFAED;
    border: 1px solid #FAB400;
    border-radius: 8px;
}

/* TABLE */

.table-select thead tr {
    background: #EFF0F5;
}

/* BADGE */

.badge-primary {
    background: #EEFFF6 !important;
}

.badge-warning {
    background: #FFFAED !important;
}

.badge-danger {
    background: #FFE6E6 !important;
}

